<!-- <div class="footer">
    <p>&copy; 2023 Your Company Name</p>
    <p>About Us: Your About Us Information</p>
  </div> -->


  <div class="footer">
    <div class="footer-section">
      <h4>Workmate</h4>
      <p>Workmate Infotech Pvt Ltd</p>
    </div>
    <div class="footer-section">
      <h4>About</h4>
      <p>Company</p>
      <p>Privacy Policy</p>
      <p>Terms and conditions</p>
    </div>
    <div class="footer-section">
      <h4>Support</h4>
      <p>Pricing</p>
      <p>Guides</p>
    </div>
