

  <div class="container mt-4">
    <div class="content">
      <div class="text">
        <h2 class="status">From Source to Sip:</h2>
        <h2 class="status">Pioneering Safe Drinking</h2>
        <h2 class="status">Water in Your City</h2>
        <button class="btn btn-primary" (click)="showContent = !showContent">Know More</button>
        <div *ngIf="showContent" class="additional-content">
          <p>Stay refreshed throughout the day with affordable drinking water</p>
          <p>delivered through government pipelines. We partner closely with the state</p>
          <p>government to ensure your hydration</p>
        </div>
      </div>
    </div>
    <div class="photos">
      <div class="photo-row">
        <div class="photo">
          <img src="assets\images\kid1.jpg" alt="Photo 1">
        </div>
        <div class="photo">
          <img src="assets\images\kid2.jpg" alt="Photo 2">
        </div>
      </div>
      <div class="photo-row">
        <div class="photo">
          <img src="assets\images\men1.jpg" alt="Photo 3">
        </div>
        <div class="photo">
          <img src="assets\images\kid4.jpg" alt="Photo 4">
        </div>
      </div>
    </div>
  </div>

  <!-- <app-footer></app-footer> -->
  

 

  
